<html lang="en">
<head>
    <title>My Blog | </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/87fe01986c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@500&family=Rubik+Microbe&family=Satisfy&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
</html>