<html>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <section>
        <div class="blogpost px-16 pt-16">
            <img class="w-full max-h-80" src="/img/jare.jpg" alt="Sunset in the mountains">
            <h3 class="font-bold text-2xl pt-6 text-center"><%= blog.title %></h3>
            <p class="pt-2"><%= blog.description %></p>
        </div>
    </section>
</body>a
</html>